/* fonts */

/* QUARZ974 */
@font-face {
    font-family: 'QUARZ974';
    src: url('assets/fonts/Quarz974Light/Quarz974Light.woff') format('woff'), 
         url('assets/fonts/Quarz974Light/Quarz974Light.woff2') format('woff2'), 
         url('assets/fonts/Quarz974Light/Quarz974Light.ttf')  format('truetype');
}

/* Bungee */
@import url('https://fonts.googleapis.com/css?family=Bungee');

/* base styles */

*,
*:before,
*:after {
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Bungee', cursive;
  font-weight: 900;
  font-size: 24px;
  overflow: hidden;
  background-color: #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
