nav-bar {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav {
  width: 360px;
  height: 360px;
  position: relative;
  color: #fff;
  transform: rotate(45deg);
}

.nav-item {
  float: left;
  height: 50%;
  width: 50%;
  transition: all 0.1s;
  position: relative;
}

.nav-item:hover {
  transform: scale(1.2);
}

.nav-item-content {
  width: 92%;
  height: 92%;
  position: absolute;
  border: 5px solid #bda000;

  overflow: hidden;
}

.nav-item:hover .nav-item-content {
  /*border-radius: 50%;*/
  animation: flash 0.2s,
             curve 0.5s;
}

.nav-item:nth-child(1) .nav-item-content {
  top: 0;
  left: 0;
}

.nav-item:nth-child(2) .nav-item-content {
  top: 0;
  right: 0;
}

.nav-item:nth-child(3) .nav-item-content {
  bottom: 0;
  left: 0;
}

.nav-item:nth-child(4) .nav-item-content {
  bottom: 0;
  right: 0;
}

.nav-item-content * {
  transform: rotate(-45deg);
}

/* Animation Frames */

@keyframes flash {
  0% {
    box-shadow: 1px 1px 1px #000;
  }
  50% {
    box-shadow: 1px 1px 40px #bda000;
  }
  100% {
    box-shadow: 1px 1px 1px #000;
  }
}

@keyframes curve {
  0% {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  25% {
    border-top-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  50% {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 5px;
  }
  75% {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0px;
  }
  100% {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0px;
  }
}
